<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {% block styles %}
    {% endblock %}
    <title>InvestSmartBLM</title>
  </head>
  <body>
    <header>
      <!-- top navbar -->
      <nav class="nav-extended text-shadow">
        <div class="nav-wrapper">
          <a href="{{ url_for('top_venture')}}" class="brand-logo center-align"
            >InvestSmart</a
          >
          <a href="#" data-target="mobile-demo" class="sidenav sidenav-trigger left"
            ><i class="fas fa-bars"></i
          ></a>
          <ul class="left hide-on-med-and-down ">
            <li><a href="{{ url_for('top_venture') }}">Home</a></li>
            <li><a href="{{ url_for('all_ventures') }}">Venture</a></li>
           
            
          </ul>
        </div>
      </nav>

     
    </header>

    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidenav").sidenav();
      });

      $(".carousel.carousel-slider").carousel({
        fullWidth: true,
        indicators: true,
      });
      $(document).ready(function () {
        $(".fixed-action-btn").floatingActionButton();
      });

      $("#CB1").hide("slow");
      $("#button1").click(function () {
        $("#CB1").toggle("slow");
      });

      $("#CB2").hide("slow");
      $("#button2").click(function () {
        $("#CB2").toggle("slow");
      });

      $("#CB3").hide("slow");
      $("#button3").click(function () {
        $("#CB3").toggle("slow");
      });

      $("#CB4").hide("slow");
      $("#button4").click(function () {
        $("#CB4").toggle("slow");
      });

      $("#CB5").hide("slow");
      $("#button5").click(function () {
        $("#CB5").toggle("slow");
      });

      $("#CB6").hide("slow");
      $("#button6").click(function () {
        $("#CB6").toggle("slow");
      });

       $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    </script>
     {% block scripts %}
    {% endblock %}
  </body>
</html>
